img {
    width: 100%; /* La imagen toma el 100% del ancho del contenedor */
    height: auto; /* La altura se ajusta automáticamente */
    display: block; /* Elimina el espacio extra abajo de la imagen */
}
.div-container-stars #img-2{
    margin-bottom: 5rem;
}

.div-container-stars{
    max-height: 40rem;
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: end;

    z-index: 1;
    position: absolute;
    bottom:35rem;
    transition: bottom 2s;
}

.img-rotate{
    max-height: 40rem;
    height:100%;
    display: flex;
    align-items: end;
    opacity: 0;
    transition: opacity 1.5s;

}

.img-star{
    z-index: 3;
    height: 20%; 
    animation: rotate 2s linear infinite;
}


.slide-top-left{
    animation:slide-top-left 500ms linear both;
    opacity: 1;
}
.slide-top{
    animation:slide-top 500ms linear both;
    opacity: 1;

}
.slide-top-right{
    animation:slide-top-right 500ms linear both;
    opacity: 1;
}

.opacity-0{
    opacity: 0;
}

/* .div-container-stars:hover .img-1{
    animation:slide-top-left 500ms linear both;
    opacity: 1;
}
.div-container-stars:hover .img-2{
    animation:slide-top 500ms linear both;
    opacity: 1;

}
.div-container-stars:hover .img-3{
    animation:slide-top-right 500ms linear both;
    opacity: 1;
} */

@keyframes rotate{
    from{
        transform: rotate( 0deg);
    }
    to{
        transform: rotate(360deg);
    }
}



@keyframes slide-top-right{
   
    0%{
        transform:translateY(0) 
        translateX(0)
    }
    100%{
        transform:translateY(-100px) 
        translateX(100px)
    }}

@keyframes slide-top-left{
    0%{
        transform:translateY(0) 
        translateX(0)
    }
    100%{
        transform:translateY(-100px) 
        translateX(-100px)
    }
}

@keyframes slide-top{
    0%{
        transform:translateY(0)
    }
    100%{
        transform:translateY(-100px)
    }
}