/* Estilos generales */
.div-title-baby {
  z-index: 1;
  position: absolute;
  transform: translateX(-50%);
  text-align: center;
  bottom: 86%;
  left: 53%;
}

.div-title-baby h1 {
  color: #fff;
  font-size: 7rem;
  font-family: "babys-cursive", sans-serif;
  letter-spacing: 0.4rem;
  margin: 0;
}

.element-register {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 2%;
  bottom: 50%;
}

.container-register img {
  z-index: 0;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

#typewriter-input {
  margin-top: 1rem;
  height: auto;
  border-radius: 1rem;
  outline: .5rem solid #cd9aca;
  border: 0;
  font-size: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
}

#typewriter-input:focus {
  outline-offset: .5rem;
  background-color: #fff;
}

#typewriter-input::placeholder {
  font-size: 3rem;
}

/* Resolución para dispositivos móviles muy pequeños */
@media (max-width: 575px) {
  .div-title-baby {
    bottom: 65%;
    left: 53%;
    width: 80%;
  }

  .div-title-baby h1 {
    font-size: 3rem;
  }

  #typewriter-input {
    font-size: 1.5rem;
  }

  #typewriter-input::placeholder {
    font-size: 1.5rem;
  }
}

/* Resolución para dispositivos móviles pequeños */
@media (min-width: 576px) and (max-width: 767px) {
  .div-title-baby {
    bottom: 79%;
    left: 53%;
  }

  .div-title-baby h1 {
    font-size: 4rem;
  }

  #typewriter-input {
    font-size: 2rem;
  }

  #typewriter-input::placeholder {
    font-size: 2rem;
  }
}

/* Resolución para tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .div-title-baby {
    bottom: 74%;
    left: 53%;
  }

  .div-title-baby h1 {
    font-size: 6rem;
  }

  #typewriter-input {
    font-size: 2rem;
  }

  #typewriter-input::placeholder {
    font-size: 2rem;
  }
}

/* Resolución para PC de escritorio */
@media (min-width: 972px) {
  .div-title-baby {
    bottom: 86%;
    left: 53%;
  }

  .div-title-baby h1 {
    font-size: 6rem;
  }

  #typewriter-input {
    font-size: 2.5rem;
  }

  #typewriter-input::placeholder {
    font-size: 2.5rem;
  }
}
